.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.m-4 {
    margin: 4px;
}
.badge-container {
    display: flex;
    column-gap: 15px;
}

.badge {
    background-color: rgb(18, 120, 115);
    padding: 5px;
    border-radius: 4px;
    color: white
}

.intro {
    display: flex;
    justify-content: space-between;
}

.contact,
.connect {
    text-align: center;
}

.contact>p,
.connect>p {
    margin: 3%;
}
.connect>p>a {
    text-decoration: none;
}

